$default-bg: white;
$default-text: black;

body {
	font-family: arial, helvetica;
	font-size: 16px;
	background: $default-bg;
	color: $default-text;
}

.md-icon-button {
	i {
		font-size: 48px;
	}
}

.md-subhead {
	i {
		margin-right: 20px;

		&:hover {
			cursor: pointer;
		}
	}
}