$default-bg: white;
$default-text: black;

body {
	font-family: arial, helvetica;
	font-size: 16px;
	background-color: $default-bg;
	color: $default-text;
}

i {
	cursor: default;
}

.md-icon-button {
	i {
		font-size: 48px;
	}
}

.md-subhead {
	i {
		margin-right: 20px;
		font-size: 18px;
		color: green;
	}
}

.assignment-icon {
	color: green;
	font-size: 96px !important;
}

.path-icon {
	color: gray;
	font-size: 18px;
}