<md-menu layout="column" layout-align="center center">
	<md-button ng-click="$mdOpenMenu()" class="md-icon-button">
		<i class="material-icons" md-menu-origin="">child_care</i>
	</md-button>
	<md-menu-content>
        <md-menu-item ng-repeat="student in homeCtrl.students">
        	<md-button ng-click="homeCtrl.selectStudent(student)">
        		{{ student.Student_Name }}
        	</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
<md-content layout="row" layout-align="center center" ng-if="homeCtrl.activeStudent">
	<div layout="column" flex-xs flex-gt-xs="50">
		<md-card>
			<md-card-title layout="row" class="md-padding">
				<md-card-title-text layout="column">
					<span class="md-headline">
						{{ homeCtrl.activeStudent.Student_Name }}
					</span>
					<span class="md-subhead">
						<span>
							<i class="material-icons" ng-if="key != 'Student_Name'" ng-repeat="(key, value) in homeCtrl.activeStudent">
								{{ homeCtrl.getIcon(value) }}
								<md-tooltip>
									{{ key }}
								</md-tooltip>
							</i>
						</span>
					</span>
				</md-card-title-text>
				<md-card-title-media layout="column" layout-align="center center">
	            	<i class="material-icons" md-menu-origin="">child_care</i>
	          	</md-card-title-media>
			</md-card-title>
			<md-content layout="row">
				<span>LEARNING PATH</span>
			</md-content>
		</md-card>
	</div>
</md-content>